In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('data/divvy_lockdown1.csv')
df.head()

,end_lat,end_lng,end_station_id,end_station_name,ended_at,member_casual,ride_id,rideable_type,start_lat,start_lng,start_station_id,start_station_name,started_at
0,41.9322,-87.6586,152.0,Lincoln Ave & Diversey Pkwy,2020-04-26 18:12:03,member,A847FADBBC638E45,docked_bike,41.8964,-87.6610,86.0,Eckhart Park,2020-04-26 17:45:14
1,41.9306,-87.7238,499.0,Kosciuszko Park,2020-04-17 17:17:03,member,5405B80E996FF60D,docked_bike,41.9244,-87.7154,503.0,Drake Ave & Fullerton Ave,2020-04-17 17:08:54
2,41.8679,-87.6230,255.0,Indiana Ave & Roosevelt Rd,2020-04-01 18:08:36,member,5DD24A79A4E006F4,docked_bike,41.8945,-87.6179,142.0,McClurg Ct & Erie St,2020-04-01 17:54:13
3,41.8992,-87.6722,657.0,Wood St & Augusta Blvd,2020-04-07 13:02:31,member,2A59BBDF5CDBA725,docked_bike,41.9030,-87.6975,216.0,California Ave & Division St,2020-04-07 12:50:19
4,41.9695,-87.6547,323.0,Sheridan Rd & Lawrence Ave,2020-04-18 11:15:54,casual,27AD306C119C6158,docked_bike,41.8902,-87.6262,125.0,Rush St & Hubbard St,2020-04-18 10:22:59

In [4]:
# start_station_idとend_station_idでエッジリストを作成
df_edge = df[['start_station_id', 'end_station_id']]
df_edge = df_edge.groupby(['start_station_id', 'end_station_id']).size().reset_index()
df_edge.columns = ['start_station_id', 'end_station_id', 'count']
df_edge.head()

   start_station_id  end_station_id  count
0               2.0             2.0   3787
1               2.0             3.0    109
2               2.0             4.0     55
3               2.0             5.0     66
4               2.0             6.0     79

In [9]:
# start_station_idのユニークな値の数を確認
df_edge['start_station_id'].nunique()

631

In [10]:
df_edge['end_station_id'].nunique()

288

In [12]:
# df_edgeの中から、start_station_idとend_station_idがユニークなものだけリストにいれる
df_edge_unique = df_edge[df_edge['start_station_id'] != df_edge['end_station_id']]
df_edge_unique.head()

       start_station_id  end_station_id  count
19469              76.0            35.0   1296
8261               35.0            76.0    863
22660              90.0            35.0    850
96586             459.0           177.0    706
1211                6.0            35.0    614